.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: auto;
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  object-fit: contain;
}
